/**
 * The following styles come from the Heroicons plugin.
 */
.heroicon-template-container {
	display: flex;
}

.wp-block-mikelaroy-heroicons {
	display: inline-flex;
	color: #1a4548;
	align-items: center;
	position: relative;
	aspect-ratio: 1/1;

	svg {
		display: block;
		margin: 0 auto;
		width: var(--heroicon-size);
		height: var(--heroicon-size);
	}

	.components-button {
		color: inherit;
	}

	.components-button svg {
		fill: none;
	}

	&.aligncenter {
		margin: 0 auto;
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}

	&.alignleft {
		justify-content: flex-start;
	}
}
